
.HomePageAbout
{
    padding: 10px;
    margin: 15px;
}

.homepage_part1
{
    background-color: rgba(218, 245, 136, 0.285);
    margin-bottom: 20px;
}

.homepage_part2
{
    background-color: rgba(245, 187, 136, 0.222);
    margin-bottom: 20px;
}

.homepage_part3
{
    background-color: rgba(136, 198, 245, 0.285);
    margin-bottom: 20px;
}