
.login {
  text-align: center;
  margin-top: 3px;
  padding: 30px;
  background-color: rgba(173, 230, 224, 0.647);
}

.login p {
  font-size: medium;
  font-weight: bolder;
}

.form {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 50%;
  padding: 5px;
  background-color:rgba(12, 161, 236, 0.445);
  font-weight: bold;
  font-size: medium;
}

.link{
  color: rgb(18, 16, 118);
}

.login button {
  background-color: #04aa8c;
  color: white;
  padding: 8px ;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
}

.login button:hover {
  opacity: 0.8;
}

.login input[type=email], input[type=password] {
  width: 8cm;
  padding: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.table {
  border-spacing: 12px 7px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.error{
  color: red;
}