.container p{
    padding-bottom: 30px ;
    font-weight: bold;
}
.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin: 3px;
    padding: 20px;
    color: #0056b3;
}

.container textarea {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.sent-message div{
    color: #1364bb;
    font-size: medium;
    text-align: right;
    background-color: #e6f7ff;

}

.receive-message div {
    font-size: medium;
    text-align: left;
    background-color: #e6fff3;
    display: inline-flex;
}


/* Message list styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 5px;
}

.inputs {
    display: inline-block;
    text-align: center;
}

.chat_button {
    background-color: #1364bb;
    color: #fff;
    border: none;
    padding: 12px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}